.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info{
  color: #FFF;
}

.dataTables_wrapper .dataTables_processing{
	color:#000;
}

table.dataTable tbody tr{
	background-color: rgba(0,0,0,0);
}
 
 
/** 表格基行排序样式 **/
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background-color: rgba(0, 0, 0, 0.3);
}

/** 表格偶行排序样式 **/
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.even {
	background-color: rgba(0, 0, 0, 0.1);   
}

/** 表格基行排序样式 **/
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
	background-color: rgba(0,0,0,0);   
}

/** 表格偶行排序样式 **/
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1{
	background-color: rgba(0,0,0,0);
}

/** 表格悬浮样式 **/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover{
	background-color: rgba(0,0,0, 0.4);  
}

/** 表格边框样式 **/
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
	border-top:0px;
}

/** 表格标题头底部线框样式 */
table.dataTable thead th, table.dataTable thead td{
	border-bottom:1px solid rgba(255,255,255, 0.3);
	padding:3px 18px 3px 10px; 
}

/** 表格标题尾底部线框样式 */
table.dataTable tfoot th, table.dataTable tfoot td{
	border-top:1px solid rgba(255,255,255, 0.3);
}

/** 表格没有footer的样式 */
table.dataTable.no-footer{
	border-bottom:1px solid rgba(255,255,255, 0.3);
}

/** 表格分页条样式 */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	color: #fff !important;
}

/* 分页按钮 */
.dataTables_wrapper .dataTables_paginate .paginate_button {
	background-color: rgba(255, 255, 255, 0.1) !important;
	border: 1px solid rgba(255, 255, 255, 0.5) !important;
	color: #fff !important;
	padding: 5px 10px !important;
}
  	
  	/* 当前分页按钮样式 */
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	background:rgba(0, 0, 0, 0.4) !important; 
	color: #fff !important; 
	padding: 5px 10px !important;
}

/* 悬浮分页按钮样式 */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background:rgba(0, 0, 0, 0.4) !important; 
	color: #fff !important; 
	padding: 5px 10px !important; 
}

/* 悬浮在当前分页按钮上的样式 */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color:#FFF !important;	
} 